svgwidth = 600px
dscrbwidth = 350px

.dscrptholder
	position relative
	left svgwidth
	top 150px
	width dscrbwidth

.idx
	width 10px
	height 10px
	border 1px solid black
	border-radius 10px
	margin-bottom 10px


.idxholder
	position fixed
	left svgwidth + dscrbwidth
	top 220px

.description
	height 500px
	width dscrbwidth - 50px
	font-family 'PT Serif', serif

.svgholder
	position fixed