svgwidth = 600px
dscrbwidth = 400px

.dscrptholder
	position relative
	left svgwidth
	top 150px
	width dscrbwidth

.idx
	width 10px
	height 10px
	border 1px solid black
	border-radius 10px
	margin-bottom 10px


.idxholder
	position fixed
	left svgwidth + dscrbwidth
	top 220px

.description
	height 500px
	width dscrbwidth - 40px
	font-family 'PT Serif', Georgia, serif

.descriptionH4
	// text-shadow 2px 2px 1px white
	background-color white

.svgholder
	position fixed

svg text 
	font-family Helvatica,sans-serif
	font-weight 100

.rd
	color rgb(201, 0, 0)

.gn
	color green


// @font-face {
//     font-family: 'Cantarell';
//     font-style: normal;
//     font-weight: 700;
//     src: local('Cantarell Bold'), local('Cantarell-Bold'), url(../font/Cantarell-Bold.ttf) format('truetype');
// }

// @PT Serif
// 	font-family 'PT Serif'
// 	font-style normal
// 	font-weight 400
// 	src local('PT Serif'), url(./css/PT Serif.woff) format('woff')
