svgwidth = 600px
dscrbwidth = 400px

.dscrptholder
	position relative
	left svgwidth
	top 150px
	width dscrbwidth

.idx
	width 10px
	height 10px
	border 1px solid black
	border-radius 10px
	margin-bottom 10px


.idxholder
	position fixed
	left svgwidth + dscrbwidth
	top 220px

.description
	height 500px
	width dscrbwidth - 50px
	font-family 'PT Serif', serif

.descriptionH4
	// text-shadow 2px 2px 1px white
	background-color white

.svgholder
	position fixed

svg text 
	font-family Helvatica,sans-serif
	font-weight 100