doctype html
html
	head
		title Green Honey
		include ../j_piece/inheader
		link(href="./css/greenhoney.css", rel="stylesheet")
	body
		div.svgholder
		div.dscrptholder
			div.txtholder
			div.idxholder

		script(type="text/javascript", src="./js/greenhoney.js")
		// script(type="text/javascript", src="./js/colorstruct.js")
		// script(type="text/javascript", src="./js/colorstruct_svg.js")
		script(type="text/javascript", src="./js/colorbar.js")
		script(type="text/javascript", src="./js/colorforce.js")
		script(type="text/javascript", src="./js/slide.js")
		